---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?aqi=no&key=<API_KEY>&q=London
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999940'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/05/2024 07:56:18
      Cdn-Edgestorageid:
      - '1067'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 31d4f73a36baa065da26e2e2e0b1c067
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"London","region":"City of London, Greater London","country":"United
        Kingdom","lat":51.52,"lon":-0.11,"tz_id":"Europe/London","localtime_epoch":1712303672,"localtime":"2024-04-05
        8:54"},"current":{"last_updated_epoch":1712303100,"last_updated":"2024-04-05
        08:45","temp_c":13.0,"temp_f":55.4,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":13.6,"wind_kph":22.0,"wind_degree":230,"wind_dir":"SW","pressure_mb":1000.0,"pressure_in":29.53,"precip_mm":0.05,"precip_in":0.0,"humidity":88,"cloud":50,"feelslike_c":10.9,"feelslike_f":51.6,"vis_km":10.0,"vis_miles":6.0,"uv":3.0,"gust_mph":21.9,"gust_kph":35.3}}'
  recorded_at: Fri, 05 Apr 2024 07:56:18 GMT
recorded_with: VCR 6.2.0
