---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?aqi=no&key=<API_KEY>&q=Londond
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999940'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/05/2024 07:21:47
      Cdn-Edgestorageid:
      - '845'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - ce5e59a32fe39e277d0f460e8f1563f7
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Londonderry","region":"New Hampshire","country":"United
        States of America","lat":42.87,"lon":-71.37,"tz_id":"America/New_York","localtime_epoch":1712301600,"localtime":"2024-04-05
        3:20"},"current":{"last_updated_epoch":1712301300,"last_updated":"2024-04-05
        03:15","temp_c":1.1,"temp_f":34.0,"is_day":0,"condition":{"text":"Patchy light
        snow","icon":"//cdn.weatherapi.com/weather/64x64/night/323.png","code":1210},"wind_mph":9.4,"wind_kph":15.1,"wind_degree":300,"wind_dir":"WNW","pressure_mb":996.0,"pressure_in":29.41,"precip_mm":0.07,"precip_in":0.0,"humidity":88,"cloud":100,"feelslike_c":-2.9,"feelslike_f":26.8,"vis_km":3.2,"vis_miles":1.0,"uv":1.0,"gust_mph":13.4,"gust_kph":21.5}}'
  recorded_at: Fri, 05 Apr 2024 07:21:47 GMT
recorded_with: VCR 6.2.0
