---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?aqi=no&key=<API_KEY>&q=auto:ip
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999906'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/09/2024 02:56:27
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 2f19bc2cdd8f612ee7a511b73cd59726
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Eagan","region":"Minnesota","country":"United
        States of America","lat":44.8,"lon":-93.17,"tz_id":"America/Chicago","localtime_epoch":1712631042,"localtime":"2024-04-08
        21:50"},"current":{"last_updated_epoch":1712630700,"last_updated":"2024-04-08
        21:45","temp_c":8.0,"temp_f":46.4,"is_day":0,"condition":{"text":"Light rain","icon":"//cdn.weatherapi.com/weather/64x64/night/296.png","code":1183},"wind_mph":10.5,"wind_kph":16.9,"wind_degree":210,"wind_dir":"SSW","pressure_mb":1009.0,"pressure_in":29.8,"precip_mm":0.0,"precip_in":0.0,"humidity":87,"cloud":100,"feelslike_c":7.2,"feelslike_f":45.0,"vis_km":11.0,"vis_miles":6.0,"uv":1.0,"gust_mph":15.0,"gust_kph":24.1}}'
  recorded_at: Tue, 09 Apr 2024 02:56:27 GMT
recorded_with: VCR 6.2.0
