---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?aqi=no&key=<API_KEY>&q=auto:ip
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999940'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/05/2024 08:00:08
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 9a13442ba6d10d99fc6a2421c11ffff5
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Eagan","region":"Minnesota","country":"United
        States of America","lat":44.8,"lon":-93.17,"tz_id":"America/Chicago","localtime_epoch":1712304011,"localtime":"2024-04-05
        3:00"},"current":{"last_updated_epoch":1712304000,"last_updated":"2024-04-05
        03:00","temp_c":2.8,"temp_f":37.0,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":10,"wind_dir":"N","pressure_mb":1019.0,"pressure_in":30.1,"precip_mm":0.0,"precip_in":0.0,"humidity":61,"cloud":0,"feelslike_c":0.9,"feelslike_f":33.6,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":7.3,"gust_kph":11.7}}'
  recorded_at: Fri, 05 Apr 2024 08:00:08 GMT
recorded_with: VCR 6.2.0
