---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?aqi=no&key=<API_KEY>&q=3blQ0KDw4Ah64CuPVpNLMw==
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999906'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - 04/09/2024 02:56:27
      Cdn-Edgestorageid:
      - '718'
      Cdn-Status:
      - '400'
      Cdn-Requestid:
      - c4e801eacab92475c79214e5247094e3
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '{"error":{"code":1006,"message":"No matching location found."}}'
  recorded_at: Tue, 09 Apr 2024 02:56:27 GMT
recorded_with: VCR 6.2.0
