---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?aqi=no&key=<API_KEY>&q=55118
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999907'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/08/2024 23:16:18
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - f2e65b217ccc1469fc4eb11582e897fe
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Saint Paul","region":"Minnesota","country":"USA","lat":44.9,"lon":-93.11,"tz_id":"America/Chicago","localtime_epoch":1712618182,"localtime":"2024-04-08
        18:16"},"current":{"last_updated_epoch":1712618100,"last_updated":"2024-04-08
        18:15","temp_c":9.4,"temp_f":48.9,"is_day":1,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"wind_mph":9.4,"wind_kph":15.1,"wind_degree":230,"wind_dir":"SW","pressure_mb":1009.0,"pressure_in":29.8,"precip_mm":0.0,"precip_in":0.0,"humidity":69,"cloud":100,"feelslike_c":7.7,"feelslike_f":45.8,"vis_km":16.0,"vis_miles":9.0,"uv":2.0,"gust_mph":13.9,"gust_kph":22.3}}'
  recorded_at: Mon, 08 Apr 2024 23:16:18 GMT
recorded_with: VCR 6.2.0
