---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?aqi=no&key=d83c18de62814e559d1143220240404&q=Saint%20Paul
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999961'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/05/2024 05:02:48
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 02b1cea6dc56065500b7f58ac8857023
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Saint Paul","region":"Minnesota","country":"United
        States of America","lat":44.94,"lon":-93.09,"tz_id":"America/Chicago","localtime_epoch":1712293261,"localtime":"2024-04-05
        0:01"},"current":{"last_updated_epoch":1712293200,"last_updated":"2024-04-05
        00:00","temp_c":3.8,"temp_f":38.8,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":10,"wind_dir":"N","pressure_mb":1018.0,"pressure_in":30.07,"precip_mm":0.0,"precip_in":0.0,"humidity":55,"cloud":0,"feelslike_c":2.1,"feelslike_f":35.7,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":6.3,"gust_kph":10.2}}'
  recorded_at: Fri, 05 Apr 2024 05:02:48 GMT
recorded_with: VCR 6.2.0
