---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?aqi=no&key=<API_KEY>&q=3blQ0KDw4Ah64CuPVpNLMw==
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999940'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - 04/05/2024 07:21:47
      Cdn-Edgestorageid:
      - '718'
      Cdn-Status:
      - '400'
      Cdn-Requestid:
      - dc02b7b0cf7e44f5d621cf9ea4bc68dd
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"error":{"code":1006,"message":"No matching location found."}}'
  recorded_at: Fri, 05 Apr 2024 07:21:47 GMT
recorded_with: VCR 6.2.0
