---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?aqi=no&key=d83c18de62814e559d1143220240404&q=Some%20Bogus%20Stuff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999961'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/05/2024 05:07:32
      Cdn-Edgestorageid:
      - '871'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 36877866686d1f063257b72275fa5d9f
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Some","region":"Mopti","country":"Mali","lat":14.73,"lon":-3.65,"tz_id":"Africa/Bamako","localtime_epoch":1712293546,"localtime":"2024-04-05
        5:05"},"current":{"last_updated_epoch":1712293200,"last_updated":"2024-04-05
        05:00","temp_c":29.7,"temp_f":85.5,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":9.8,"wind_kph":15.8,"wind_degree":93,"wind_dir":"E","pressure_mb":1006.0,"pressure_in":29.71,"precip_mm":0.0,"precip_in":0.0,"humidity":15,"cloud":0,"feelslike_c":27.6,"feelslike_f":81.6,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":20.7,"gust_kph":33.3}}'
  recorded_at: Fri, 05 Apr 2024 05:07:32 GMT
recorded_with: VCR 6.2.0
