<h3>Enter an address</h3>
<p>Acceptable addresses include</p>
<ul>
  <li>zip code</li>
  <li>postal code</li>
  <li>city name</li>
  <li>IP address</li>
  <li>"auto:ip" will look up your external IP</li>
</ul>

<div>
  <%= render partial: 'form'  %>
</div>
